<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="klep.wehere">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.packagename.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.packagename.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:name=".IdleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".chooseLogin.ActivityChooseLogin"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".registration.RegActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDvuHbjYqdgDAXvdvAR_77Dv1n9PUEEdM" />

        <service
            android:name=".services.HandlerSocketService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.UpdateLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".maps.HandleActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_handle"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".addChildren.RegActivityChild"
            android:label="@string/reg_child"/>

        <!--<receiver-->
            <!--android:name=".AutoStart"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" >-->
            <!--<intent-filter android:priority="500" >-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
